&copy; 2025 by Pearson Education, Inc. All Rights Reserved. The content in this notebook is based on the textbook [**Intro Python for Computer Science and Data Science**](https://amzn.to/2YU0QTJ) and our professional book [**Python for Programmers**](https://amzn.to/2VvdnxE) — Please do not purchase both. The professional book is a subset of the textbook.

### Python Fundamentals LiveLessons Videos
* For a detailed presentation of the content in this notebook see **[Lesson 2](https://learning.oreilly.com/videos/python-fundamentals/9780135917411/9780135917411-PFLL_Lesson02_00)** on O'Reilly Online Learning

# 2. Introduction to Python Programming

# 2.1 Introduction
* Python statements.
* Variables, built-in data types, arithmetic and comparison operators.
* Single-, double- and triple-quoted strings.
* I/O Built-in functions `input` and `print`.
* Python objects and dynamic typing.

# 2.2 Variables and Assignment Statements
* **assignment symbol (`=`)** is not an operator

In [4]:
x = 7

In [5]:
y = 3

In [6]:
x + y

10

### Types
* Each value in Python has a **type**.

In [7]:
type(x)

int

In [8]:
type(10.5)

float

# 2.3 Arithmetic

### Arithmetic Operators
* [All operators and their precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence)

| Python operation | Arithmetic operator | Python expression | Grouping | 
| :-------- | :-------- | :-------- | :--------  |
| Addition	| `+` 	| `f + 7` | left-to-right |
| Subtraction	| `–` 	| `p - c`  | left-to-right |
| Multiplication	| `*` 	| `b * m`  | left-to-right |
| Exponentiation	| `**` 	|  `x ** y`  | **right-to-left** |
| True division	| `/` 	| `x / y`  | left-to-right |
| Floor division	| `//` 	| `x // y`  | left-to-right |
| Remainder (modulo)	| `%` (works with ints or floats) 	| `r % s`  | left-to-right |

### Exponentiation (`**`) Operator

In [9]:
2 ** 10

1024

In [10]:
9 ** 0.5  # square root

3.0

In [11]:
10 ** 82 # approximate number of atoms in the universe

10000000000000000000000000000000000000000000000000000000000000000000000000000000000

### **True Division (`/`)** Yields a Floating-Point Number

In [12]:
7 / 4

1.75

### **Floor Division (`//`)** Yields the Highest _Integer_ That’s Not Greater Than the Result

In [13]:
7 // 4

1

### Exceptions and Tracebacks

Dividing by zero with `/` or `//` results in an **exception** that produces a **traceback** showing the problem that occurred.

In [ ]:
123 / 0

### Operand Types
* If both operands are integers, the result is an integer—**except for the true-division (`/`) operator, which always yields a floating-point number**. 
* If both operands are floating-point numbers, the result is a floating-point number. 
* Mixed-type expressions produce floating-point results.

# 2.4 Function `print` and an Intro to Single- and Double-Quoted Strings
* `#` is a Python end-of-line comment

In [15]:
print('Welcome to Python!')  # outputs a newline by default

Welcome to Python!

In [16]:
print("Welcome to Python!")  # single quotes are preferred

Welcome to Python!

In [19]:
print('Welcome', True, 'Python!')  # one space separates each item by default

Welcome True Python!

### Ignoring a Line Break in a Statement
* Python statements generally must be on one line.
* The **\ continuation character** as the **last character on a line** ignores the line break and treats the entire statement as one line.

In [20]:
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

# 2.5 Triple-Quoted Strings
* Delimited by **`"""`** or **`'''`**, but the _Style Guide for Python Code_ recommends **`"""`**. 
* Used for:
    * multiline strings
    * strings containing single or double quotes
    * **docstrings**&mdash;the recommended way to document the purposes of certain program components.

### Multiline Strings Are Stored with Embedded Newlines 
* Python Has the Same Escape Sequences as Other Languages

In [21]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [22]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

In [23]:
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

# 2.6 Getting Input from the User with Built-In Function **`input`**
### Function `input` Always Returns a String

In [24]:
value1 = input('Enter first number: ')

Enter first number:  7

In [25]:
value1

'7'

In [26]:
type(value1)

str

In [27]:
value2 = input('Enter second number: ')

Enter second number:  11

### The `+` Operator Concatenates Strings

In [28]:
value1 + value2

'711'

### Convert a String to an Integer Using the Built-In **`int` Function**

In [29]:
value1 = int(input('Enter an integer: '))

Enter an integer:  7

In [30]:
value1 # note no quotes around the value displayed below

7

In [31]:
type(value1)

int

In [32]:
value2 = int(input('Enter another integer: '))

Enter another integer:  11

In [33]:
value2

11

In [34]:
value1 + value2

18

In [ ]:
bad_value = int(input('Enter another integer: '))

### Convert Between Floating-Point Values and Integers

In [36]:
int(-10.5)  # truncates floating-point part

-10

In [37]:
float(7)

7.0

In [38]:
float('10.7')

10.7

# 2.7 Decision Making: Comparison Operators
* A **condition** is a Boolean expression with the value **`True`** or **`False`**.

In [39]:
7 > 4

True

In [40]:
7 < 4

False

### Comparison Operators

| Algebraic operator | Python operator | Sample condition | Meaning  |
| :---- | :---- | :---- | :---- |
| &gt;  | `>` | `x > y` | `x` is greater than `y` |
| &lt;  | `<` | `x < y` | `x` is less than `y` |
| &ge; | `>=` | `x >= y` | `x` is greater than or equal to `y` |
| &le; | `<=` | `x <= y` | `x` is less than or equal to `y` |
| = | `==` | `x == y` | `x` is equal to `y` |
| &ne; | `!=` | `x != y` | `x` is not equal to `y` |

* Operators `>`, `<`, `>=` and `<=` have the same precedence. 
* Operators `==` and `!=` have the same precedence, which is lower than `>`, `<`, `>=` and `<=`.

### Chaining Comparisons
* Is `x` is in the range `1` through `5`, inclusive?
* "Pythonic"-style code

In [41]:
x = 3

In [45]:
1 <= x <= 5  # Pythonic way to write: 1 <= x and x <= 5

False

In [43]:
x = 10

In [44]:
1 <= x <= 5

False

# 2.8 Objects and Dynamic Typing
* `7` (an integer), `4.1` (a floating-point number) and `'dog'` (a string) are objects. 
* Every object has a type and a value.

In [46]:
type(7)

int

In [47]:
type(4.1)

float

In [48]:
type('dog')

str

### Python Uses **Dynamic Typing**

In [49]:
x

10

In [50]:
type(x)

int

In [51]:
x = 'dog'  # rebind the variable `x` to a different object

In [52]:
type(x)

str

In [53]:
x

'dog'

### Garbage Collection
* Python creates objects in memory and removes them from memory as necessary. 
* When we assign `x` `+` `10` to `x`, the original value for `x` (`7`) can be garbage collected.

# More Info 
* See Lesson 2 in [**Python Fundamentals LiveLessons** here on O'Reilly Online Learning](https://learning.oreilly.com/videos/python-fundamentals/9780135917411)
* See Chapter 2 in [**Python for Programmers** on O'Reilly Online Learning](https://learning.oreilly.com/library/view/python-for-programmers/9780135231364/)
* Interested in a print book? Check out:

| Python for Programmers | Intro to Python for Computer<br>Science and Data Science
| :------ | :------
| <a href="https://amzn.to/2VvdnxE"><img alt="Python for Programmers cover" src="../images/PyFPCover.png" width="150" border="1"/></a> | <a href="https://amzn.to/2LiDCmt"><img alt="Intro to Python for Computer Science and Data Science: Learning to Program with AI, Big Data and the Cloud" src="../images/IntroToPythonCover.png" width="159" border="1"></a>

>Please **do not** purchase both books&mdash;_Python for Programmers_ is a subset of _Intro to Python for Computer Science and Data Science_

&copy; 2025 by Pearson Education, Inc. All Rights Reserved. The content in this notebook is based on the textbook [**Intro Python for Computer Science and Data Science**](https://amzn.to/2YU0QTJ) and our professional book [**Python for Programmers**](https://amzn.to/2VvdnxE) — Please do not purchase both. The professional book is a subset of the textbook.